:root{
    --primary-purple: #BB86FC;
    --secondary-green: #03DAC5;
}

.bg-primary-purple {
    background-color: var(--primary-purple);
}

.bg-secondary-green {
    background-color: var(--secondary-green);
}

/*------------------*/
.movie-card-con{
    /*NOGA:*/
    border: none !important;
}

.add {
    width:100%;
    height:100%;
    /*margin:5%;*/
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background:rgba(0,0,0,0.6);
    border: #282c34 2px solid;
    transition:opacity 0.3s;
    opacity:0;
}

.add{
    /*display:none;*/
}

.card-con .movie-card-con {
    text-align:center;
    position:relative;
    top:50%;
}

.movie-card-con:hover .add{
    /*display:block;*/
    opacity: 1;
}

/*------------------*/
/*todo: move*/

.input-box{
    position: relative;
}

.input-box i {
    position: absolute;
    right: 13px;
    top:15px;
    color:#ced4da;

}
.form-control{

    height: 50px;
    background-color:#eeeeee69;
}

.toggle-button{
    padding: 14px 10px;
    /*vertical-align: middle;*/
}
/*.form-control:focus{*/
/*    background-color: #eeeeee69;*/
/*    box-shadow: none;*/
/*    border-color: #eee;*/
/*}*/

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    color: #6c757d;
}

/*.historyResults {*/
/*    margin-top: 5px;*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    background-color: white;*/
/*    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
/*    overflow: hidden;*/
/*    overflow-y: auto;*/
/*}*/