:root{
    --primary-purple: #BB86FC;
    --secondary-green: #03DAC5;
}

.bg-primary-purple {
    background-color: var(--primary-purple);
}

.bg-secondary-green {
    background-color: var(--secondary-green);
}